#external {
            color: yellow;
        }

* {
    font-family: sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

#h2tag{
    text-transform: uppercase;
}

.class{
    background-color: seagreen;
}

li[required]{
    border-color: burlywood;
    border-style: dotted;

}

img + ul{
    list-style: none;
    

}

section img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

ul ~ p{

    text-align: center;
}

body > section > ul > li{
     letter-spacing: 5px;
}